	<div id="left_id" class="shadow_class">
	<?php
		session_start();
		if(!defined("FULL_PATH"))
		{
			$s1=dirname(__FILE__);
			$s2=strstr($s1,"php_hl");
			$i=strlen($s1)-strlen($s2);
			$s2=substr($s1,0,$i)."php_hl/";
			define("FULL_PATH",$s2);
		}
		$str=constant("FULL_PATH")."template/02/l04.html";
		require_once($str);
	?>
	</div>
	<div id="right_id">
	<div id="clear_id"></div>
	<div id="right_top_id" class="shadow_class">
	<?php
		$i=0;
		if(isset($_POST['radio1']))
			$i=$_POST['radio1']-1;
		if($i == 0)
		{
			$a=new tb_fs_mx();
			$a->show_header();
			$a->show_body();
			$a->show_tail();
		}
		else
		{	
			$a=new mx_g(1);
			$a->range_xway();
			$a->range_yway();
			if($a->range_ary() < 1)
				die("当前选定的站点没有数据");
			$i=$_COOKIE['screen'];
			if(($i == NULL) || ($i < 100))
				$i=1000;
			$xs=floor($i*0.67);$xy=500;
		    $s1="<img src='core/graph/g02.php' width= ".$xs." height= ".$xy." />";
			echo $s1;
		}
	?>
<!--	<img src="template/01/img01.php" width=100 height=100/>

	<table class='imagetable'><tr><th>aaa</th><th>bbb</th></tr>
	<tr><td>cccc</td><td>dddd</td></tr></table>   -->
	</div>
	</div>
</div></body></html>	

<?php
//{{{
			/*
			global $scr_width,$scr_height,$gx;
			$rb=new tb_mxright_g();
			$rb->show_header();
		//	$rb->show_tail();
		//	$rb->show_body();
		//	$cd=$_COOKIE['screen']; $cd*=0.9*0.75;
			if(isset($_SESSION['gra_width']))
			{
				unset($_SESSION['gra_width']);
				unset($_SESSION['gra_gx']);
				unset($_SESSION['gra_gy']);
				unset($_SESSION['gra_gdata']);
			}
			$_SESSION['gra_width'] = array($scr_width,$scr_height);
			$_SESSION['gra_gx'] = $gx;
			$_SESSION['gra_gy'] = $gy;
			$_SESSION['gra_gdata'] = $gdata;
			//print_r($_SESSION['gra_gdata']);
		    $s1="<img src='core/graph/g01.php' width= ".$scr_width." height= ".$scr_height." />";
			echo $s1;
			//echo $scr_width;
			//$yy=$gdata;
			//print_r($yy);  
			*/
//}}}
?>
