	<div id="left_id" class="shadow_class">
	<?php
		session_start();
		if(!defined("FULL_PATH"))
		{
			$s1=dirname(__FILE__);
			$s2=strstr($s1,"php_hl");
			$i=strlen($s1)-strlen($s2);
			$s2=substr($s1,0,$i)."php_hl/";
			define("FULL_PATH",$s2);
		}
		$str=constant("FULL_PATH")."template/02/l05.html";
		require_once($str);
	?>
	</div>
	<div id="right_id">
	<div id="clear_id"></div>
	<div id="right_top_id" class="shadow_class">
	<br><br>
<?php
	if(isset($_POST['starttime']))
	{
		$a= new data_sright();
		$a->parse_sql();
		echo "hello";
	}
?>	
	</div>
	</div>
</div></body></html>	

