	<div id="left_id" class="shadow_class">
	<?php
		session_start();
		if(!defined("FULL_PATH"))
		{
			$s1=dirname(__FILE__);
			$s2=strstr($s1,"php_hl");
			$i=strlen($s1)-strlen($s2);
			$s2=substr($s1,0,$i)."php_hl/";
			define("FULL_PATH",$s2);
		}
		$str=constant("FULL_PATH")."template/02/l05.html";
		require_once($str);
	?>
	</div>
	<div id="right_id">
	<div id="clear_id"></div>
	<div id="right_top_id" class="shadow_class">
<?php
		$i=0;
		if(isset($_POST['radio1']))
			$i=$_POST['radio1']-1;
		if($i == 0)
		{
			$a=new tb_fq_mx();
			$a->show_header();
			$a->show_body();
			$a->show_tail();
		}
		else
		{
		}
?>	
	</div>
	</div>
</div></body></html>	

