	<div id="left_id" class="shadow_class">
	<?php
		session_start();
		if(!defined("FULL_PATH"))
		{
			$s1=dirname(__FILE__);
			$s2=strstr($s1,"php_hl");
			$i=strlen($s1)-strlen($s2);
			$s2=substr($s1,0,$i)."php_hl/";
			define("FULL_PATH",$s2);
		}
		$str=constant("FULL_PATH")."template/02/l06.html";
		require_once($str);
		$str=constant("FULL_PATH")."include/inter_def.php";
		require_once($str);
	?> 
	</div>
	<div id="right_id">
	<div id="clear_id"></div>
	<div id="right_top_id" class="shadow_class">
	<?php
		$str=constant("FULL_PATH")."interface/extra02.php";
		require_once($str);
		$str=constant("FULL_PATH")."interface/main.php";
		require_once($str);
		$str=constant("FULL_PATH")."interface/main01.php";
		require_once($str);
		if(!isset($_POST['radio1']))
		{}
		else
		{
			if($_POST['radio1'] == 2)
			{
				$a=new fs_mx_g();
				$a->analysis_post();
				echo "hahhahah";
			}
		}
		//get_danwei();
/*		$i="2018";
		$a=new mx_listbox();
		$a->get_ctlarea();
		$a->get_unit();
		$i=4;
		$a->show($i); */
	?>
	</div>
	</div>
</div></body></html>	
