/*窗体基本信息*/
body {font:12px Tahoma;margin:0px;text-align:center;background:#FFF}
a:link;a:visited {font-size: 12px;text-decoration: none} a:hover
/*页面层容器*/
#container {width:800px;height:600px;margin:10px auto;background=#CF3}
/*页面头部信息*/
#header {background:url(logo.gif) no-repeat}

#banner {background:url(banner.jpg) 0 30px no-repeat;width:730px;margin:auto;height:240px;border-bottom:5px solid #EFEFEF;clear:both}
/*页面主体*/
#pagebody {width:800px;margin:0 auto;height:400px;background:#CCFF00}

/*页面底部*/
#footer {width:800px;margin:0 auto;height:50px;background:#00FFFF}






