	<div id="left_id" class="shadow_class">
	<?php
		$s1=str_replace(" ", "+",$_GET["id"]);
		$s2=str_replace(" ","+",$_GET["user"]);
   		$s3="你选择了：".base64_decode($s1)."<br>用户名：".base64_decode($s2);
		echo $s3;
	?>
	</div>
	<div id="right_id">
	<div id="clear_id"></div>
	<div id="right_top_id" class="shadow_class">
	<br><br><center>这里是<font color=red><?php echo base64_decode($s1);?></font>，请选择你要进行的操作</center>
	<br><br><br><br><br><br><br><br><br><br><br></div>
<!--	<div id="right_top_id" class="shadow_class"><br><br><br><br><br>bbbb<br><br><br><br><br></div>
	<div id="right_top_id" class="shadow_class"><br><br><br><br><br>bbbb<br><br><br><br><br></div>
-->
	</div>
	
</div>
</body>
</html>


