<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link href="css/base.css" rel="stylesheet" type="text/css" media="all" />
<title>aaaa</title>
</head>
<body>
<div id="container_id">
	<div id="header_id"></div>
	<div id="menu_id">
	<ul>
		<li><a href="#">首页</a></li><li class="menudiv_class"></li>
		<li><a href="#">博客</a></li><li class="menudiv_class"></li>
		<li><a href="#">设计</a></li><li class="menudiv_class"></li>
		<li><a href="#">相册</a></li><li class="menudiv_class"></li>
		<li><a href="#">数据库</a></li><li class="menudiv_class"></li>
	</ul></div><div id="clear_id"></div>
	<div id="left_id" class="shadow_class">aaa山东省泰安市环境保护局-泰安市环境保护局</div>
	<div id="right_id">
	<div id="clear_id"></div>
	<div id="right_top_id" class="shadow_class"><br><br><br><br><br>bbbb<br><br><br><br><br></div>
	<div id="right_top_id" class="shadow_class"><br><br><br><br><br>bbbb<br><br><br><br><br></div>
	<div id="right_top_id" class="shadow_class"><br><br><br><br><br>bbbb<br><br><br><br><br></div>

	</div>
	
</div>
</body>
</html>
