	<div id="left_id" class="shadow_class"><center>明晰操作栏</center></div>
	<div id="right_id">
	<div id="clear_id"></div>
	<div id="right_top_id" class="shadow_class">
	<br><br><center>这里是<font color=red>主页</font>，请选择你要进行的操作</center>
	<br><br><br><br><br><br><br><br><br><br><br></div>
<!--	<div id="right_top_id" class="shadow_class"><br><br><br><br><br><br><br><br><br><br></div>
	<div id="right_top_id" class="shadow_class"><br><br><br><br><br><br><br><br><br><br></div>
-->
	</div>
	
</div>
</body>
</html>

